.full-name {
  border-radius: 16px;
  border: 1px solid #b9bbc6;
  width: 100%;
  height: 56px;
  padding: 16px;
}

.phone-number,
.country-code,
.email,
.confirm-email {
  width: 384px;
  border: 1px solid #b9bbc6;
  padding: 16px;
  border-radius: 16px;
  height: 56px;
}

.multi-select {
  width: 792px;
  border: 1px solid #b9bbc6;
  padding: 16px;
  border-radius: 16px;
  height: 56px;
}

select {
  color: #7e808a;
}

.payment {
  width: 360px;
  height: 56px;
  border: 1px solid #b9bbc6;
  padding: 16px;
  border-radius: 16px;
}

.img-slide {
  aspect-ratio: 3/2;
  object-fit: cover;
}
